section{
    margin-top: 150px;
}
.my-div{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
    box-shadow: 10px 20px 40px gray;
    height: 200px;
    
}
#myfast{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, red, green);
    border-image-slice: 1;
}
#mysec{
        border-left: 7px solid;
        border-image: linear-gradient(180deg, rgb(22, 254, 1), rgb(4, 2, 139));
        border-image-slice: 1;
}
.mm{
    color: burlywood;
}
